
  .icons {
    display: flex;
    background: none;
    left: 35%;
    font-size: 400%;
    color: #1ac014;
    margin: 0px 20px;
    transition: all .3s;
    -webkit-font-smoothing: antialiased;
  }
  
  .icons a:hover {
    background: none;
  }
  
  /* pop-up text */
  .icons a span {
    position:relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: -10px;
    left: -25px;
    right: -25px;
    padding: 7px 7px;
    z-index: 1;
    font-size: 16px;
    border-radius: 4px;
    background: rgb(26, 236, 54);
    visibility: hidden;
    -webkit-transition: all .4s cubic-bezier(0.8, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  .icons span:before {
    content:'';
    width: 0; 
    height: 10; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(26, 236, 54);
    position:absolute;
    bottom:-5px;
    right:40px;
  }
  
  /* text pops up when icon is in hover state */
  .icons a:hover span {
    bottom: 50px;
    visibility: visible;
    margin: 30px 0px;
  }
